.place-button {
  width: 100%;
  max-width: 425px;

  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  background-color: #3a671e;
  color: white;
  border-radius: 2px;
}