.favorite-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  padding: 0.5rem;

  @media (min-width: 375px) {
    padding: 1.25rem;
  }

  @media (min-width: 1024px) {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}